.nav-space {
    background-color: #684949;
    justify-content: space-between;
    padding: 30px;
    
}

.options-bar {
    margin-left: 50px;
}

.text-decoration {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(216, 87, 12);
}

.principal {
    width: 80%;
    margin: auto;
}

.img-principal {
    background-image: url("../img/SUROCCIDENTE.jpg");
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 500px;
    margin-top: 20px;

}

.img-valle {
    background-image: url("../VALLE/VALLE.jpg");
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 500px;
    margin-top: 20px;}


.img-cauca {
    background-image: url("../CAUCA/CAUCA.jpg");
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 500px;
    margin-top: 20px;

}

.img-nariño {
    background-image: url("../NARIÑO/NARIÑO.jpg");
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 500px;
    margin-top: 20px;

}
*/
.text-principal {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    width: 60%;
    font-size: 20px;
}

.footer-space {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.footer-space p {
    font-size: 15px;

}